
<div class="container pb-5">
    <div class="row">
        <div class="col-12">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>Sosyal Medya Linki</th>
                        <th>Sosyal Medya Adı</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="usersProfiles$ | async as userProfiles">
                        <tr *ngFor="let media of userProfiles">
                          <td>{{ media.socialMediaLink }}</td>
                          <td>{{ media.platformName }}</td>
                          <td>{{ media.description }}</td>
                        </tr>
                      </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
